<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,400&family=Inter:wght@400;700;900&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap"
  rel="stylesheet"
/>

{{- if eq (site.Params.theme.default | default "light") "light" -}}
<script>
(function () {
  try {
    if (!("color-theme" in localStorage)) {
      document.documentElement.classList.remove("light", "dark");
      document.documentElement.classList.add("light");
      document.documentElement.style.colorScheme = "light";
    }
  } catch (e) {}
})();
</script>
{{- end -}}
