{{ define "main" }}
  {{- $readMore := (T "readMore") | default "Read more →" -}}
  {{- $pages := partial "utils/sort-pages" (dict "page" . "by" site.Params.blog.list.sortBy "order" site.Params.blog.list.sortOrder) -}}
  {{- $pagerSize := site.Params.blog.list.pagerSize | default 10 -}}
  {{- $paginator := .Paginate $pages $pagerSize -}}

  <div class="terror-page">
    <div class="terror-page__grid">
      <div class="terror-page__main">
        <main id="content">
          {{ if .Title }}
            <h1 class="terror-static__title">{{ .Title }}</h1>
          {{ end }}
          <div class="post-content">{{ .Content }}</div>

          <div class="terror-home__list hx:mt-8">
            {{- range $paginator.Pages }}
              <article class="terror-home__article">
                <header>
                  {{ partial "terror-list-article-meta.html" . }}
                  <h2 class="terror-home__title">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  </h2>
                </header>
                <p class="terror-home__summary">{{- partial "utils/page-description" . -}}</p>
                <a href="{{ .RelPermalink }}" class="link-hover">{{ T "terror.readFull" }} →</a>
              </article>
            {{- end -}}
          </div>

          {{- if gt $paginator.TotalPages 1 -}}
            {{ partial "components/blog-pager.html" $paginator }}
          {{- end -}}
        </main>
      </div>
      {{ partial "terror-sidebar.html" . }}
    </div>
  </div>
{{- end -}}
